.ham-sub-menu-wrapper {
    animation: display 0.7s forwards;
}

@keyframes display {
    from {
        max-height: 0px;
        opacity: 0;
    }
    to {
        max-height: 300px;
        opacity: 1;
    }
}
.recruit-item-menu {
    animation: recruit-display 1s forwards;
}
@keyframes recruit-display {
    from {
        max-height: 0px;
    }
    to {
        max-height: 3000px;
    }
}