.font12 {
    font-size: 12px;
}
.font14 {
    font-size: 14px;
}
.font15 {
    font-size: 15px;
}
.font16 {
    font-size: 1rem;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}
.font25 {
    font-size: 25px;
}
.font28 {
    font-size: 28px;
}
.font31 {
    font-size: 30px;
}
.font32 {
    font-size: 32px;
}
.bold {
    font-weight: 700 !important;
}
.font-serif {
    font-family: "Noto serif JP";
}
.font-umi {
    font-family: "Kaisei Haruno Umi";
}
.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.mt-40 {
   margin-top: 40px;
}
.mb-40 {
    margin-bottom: 40px;
}
.my-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.medium {
    font-weight: medium !important;
}
.bg-color-l-gray {
    background-color: #F9F8F4;
}
.bg-color-m-blue {
    background-color: #7194c0;
}
.bg-color-mr-blue {
    background-color: #eef2f8;
}
.bg-color-l-blue {
    background-color: #007192;
}
.bg-color-d-red {
    background-color: #8a392a;
}
.bg-color-l-red {
    background-color: #ec6d56;
}
.bg-color-d-green {
    background-color: #3e6149;
}
.bg-color-d-blue {
    background-color: #160a50;
}
.bg-color-d-orange {
    background-color: #eb6101;
}
.color-black {
    color: #000000;
}
.color-d-green {
    color: #3e6149;
}
.color-d-orange {
    color: #eb6101;
}
.color-white {
    color: #ffffff;
}
.color-d-blue {
    color: #160a50;
}
.color-l-gray {
    color: #F9F8F4;
}
.color-m-blue {
    color: #7194c0;
}
.color-l-blue {
    color: #007192;
}
.hide {
    display: none;
}