.font12 {
    font-size: clamp(11px, 2.2vw, 12px);
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.font13 {
    font-size: clamp(12px, 2.4vw, 13px);
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.font14 {
    font-size: clamp(13px, 2.6vw, 14px);
    line-height: 2.0;
    letter-spacing: 0.03em;
}
.font15 {
    font-size: clamp(14px, 2.8vw, 15px);
    line-height: 2.0;
    letter-spacing: 0.03em;
}
.font16 {
    font-size: clamp(14px, 2.8vw, 16px);
    line-height: 2.0;
    letter-spacing: 0.03em;
}
.font18 {
    font-size: clamp(15px, 3vw, 18px);
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.font20 {
    font-size: clamp(17px, 3.6vw, 20px);
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.font22 {
    font-size: clamp(19px, 3.8vw, 22px);
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.font25 {
    font-size: clamp(21px, 4.2vw, 25px);;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.font28 {
    font-size: clamp(22px, 4.4vw, 28px);
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.font31 {
    font-size: clamp(28px, 5.6vw, 31px);
    line-height: 1.8;
    letter-spacing: 0.3rem;
}
.font32 {
    font-size: 32px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.font40 {
    font-size: 40px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
.no-border {
    border: unset !important;
}
.font-Pr6N {
    font-family: "游明朝体 Pr6N";
}
.font-Pr6N-M {
    font-family: "游明朝体 Pr6N M";
}
.font-SourceHanSansJP-M {
    font-family: "Source Han Sans JP M";
}
.bold {
    font-weight: 700;
}
.ml-- {
    margin-left: -0.65rem;
}
.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.pb-80 {
    padding-bottom: 80px;
}
.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.bg-color-l-gray {
    background-color: #F9F8F4;
}
.bg-color-m-blue {
    background-color: #7194c0;
}
.bg-color-mr-blue {
    background-color: #eef2f8;
}
.bg-color-l-blue {
    background-color: #007192;
}
.bg-color-d-red {
    background-color: #8a392a;
}
.bg-color-l-red {
    background-color: #ec6d56;
}
.bg-color-lr-red {
    background-color: #fef7f6;
}
.bg-color-d-green {
    background-color: #3e6149;
}
.bg-color-d-blue {
    background-color: #160a50;
}
.bg-color-d-orange {
    background-color: #eb6101;
}
.color-black {
    color: #000000;
}
.color-d-green {
    color: #3e6149;
}
.color-d-orange {
    color: #eb6101;
}
.color-white {
    color: #ffffff;
}
.color-d-blue {
    color: #160a50;
}
.color-l-gray {
    color: #F9F8F4;
}
.color-m-blue {
    color: #7194c0;
}
.color-l-blue {
    color: #007192;
}
.color-l-red {
    color: #ec6d56;
}
.color-red {
    color: red;
}
.color-d-red {
    color: #8a392a;
}
.hide {
    display: none;
}
.margin-top--20 {
    margin-top: -20px;
}
.wrap {
    white-space: pre-line;
}
.nowrap {
    white-space: nowrap;
}
.full-width {
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px !important;
}
