.html {
    margin-top: 0px !important;
}
body {
    font-family: "Source Han Sans JP";
    font-size: 14px !important;
    color: #4c4d4f !important;
    margin: auto;
    position: relative;
    padding-top: 90px;
}
a {
    color: #4c4d4f;
    text-decoration: none;
}
hr {
    margin: 2px 0;
}
th {
    background-color: #DCDDDE;
}
/* header */
.header,
.header-sp {
    z-index: 9000;
    position: fixed;
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 24px;
    box-shadow: 0px 2px 6px 0px rgb(153, 153, 153);
}
.header-sp {
    display: none !important;
}
.menu-text-item-wrapper {
    position: relative;
    z-index: 100;
}
.menu-text-item-menu {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    width: 277px;
    white-space: nowrap;  
}
.menu-text-item-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 18px;
    background-color: rgba(255, 2555, 255, 0.7);
    color: #2e2e2e;
    border-bottom: 1px solid lightgray;
}
.menu-text-item-menu-item:hover {
    color: #eb6101;
}
.menu-text-item-menu-item > span {
    color: lightgray !important;
    font-weight: 100 !important;
}
.log-img {
    width: clamp(240px, 15vw, 292px);
}
.header-sp-hamburger {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #eb6101;
    cursor: pointer;
    user-select: none;
}
.header-sp-hamburger:hover{
    opacity: 60%;
}
.header-sp-hamburger img{
    height: 30px;
    width: 20px;
}
.ham-menu {
    background-color: #ffffff;
    position: fixed;
    top:20;
    right:0;
    z-index: 9300;
    width: 100%;
    max-width: 768px;
    overflow-y: auto;
    
}
.ham-main-menu-item,
.ham-main-menu-item-only {
    padding: 16px 20px;
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid white;
    cursor: pointer;
    user-select: none;
}
.ham-main-menu-item:hover,
.ham-sub-menu-item-only:hover {
    opacity: 60%;
}
.ham-sub-menu-item {
    padding: 16px 20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid #eb6101;
}
.ham-sub-menu-item:hover {
    background-color: #eeefef;
}
.phone-icon {
    height: 16px;
}
.menu-text-item {
    height: 24px;
    padding: 0 22px;
    line-height: 24px;
    border-left: 1px solid;
    cursor: pointer;
    user-select: none;
    position: relative;
    z-index: 200;
    font-family: "Source Han Sans JP M";
}
.menu-text-item:hover {
    color: #eb6101;
}
.header .menu-text-item:nth-child(4) {
    border-right: 1px solid;
}
.menu-button-item {
    width: 120px;
    height: 35px;
    line-height: 35px;
    color: white;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

/* top */
.top-main {
    position: relative;
}
.top-img {
    width: 100%;
    height: calc(100vh - 90px);
    max-height: 2000px;
    min-height: 740px;
    object-fit: cover;
    object-position: 75%;
}
.top-description {
    font-family: "游明朝体 Pr6N M";
    position: absolute;
    top: 33%;
    left: 330px;
    color: #4c4d4f;
    font-size: 34px;
    line-height: 2;
}
.top-section-wrapper {
    padding: 80px 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
}
.top-section-title {
    border-left: 3px solid #eb6101;
    padding-left: 16px;
    font-family: "游明朝体 Pr6N";
}
.top-section-main-addresss {
    font-family: "游明朝体 Pr6N";
}
.top-section-viewer {
    display: grid; /* Changed to grid since grid-template-columns is used */
    grid-template-columns: repeat(3, calc((100% - 60px) / 3));
    gap: 30px;
    justify-content: flex-start;
}
.top-section-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.special img {
    max-width: 420px;
}
.top-section-phone {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: "Kaisei Haruno Umi";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    i {
        margin-top: 5px;
    }
}
.phone-icon-2 {
    height: 24px;
}
.assisted-living-facility,
.group-home,
.day-care-service {
    border-bottom: 1px solid #ebebeb;
}
/* company */
.section-wrapper {
    max-width: 820px;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
.company-table {
    margin-top: 30px;
}
.company-table td {
    padding: 12px 24px;
    border-bottom: 2px solid lightgray;
    white-space: pre-wrap;
    vertical-align: top;
}
.company-table tr:nth-child(1),
.company-table tr:nth-child(7) {
    border-top: 2px solid lightgray;
}
.t-label {
    width: 180px;
    background-color: #E6E7E8;
}
.environment-item-label {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 2px solid lightgray;
}
/* san-care */
.floor-next,
.floor-prev {
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    height: 40px;
    background-color: white;
    position: absolute;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.floor-next:hover,
.floor-prev:hover {
    background-color: lightgray;
}
.floor-prev {  
    top: calc(50% - 20px);
    left: 5px;
}
.floor-next {
    bottom: calc(50% - 20px);
    right: 5px;
}
.section-big-title-bar {
    height: 320px;
    text-align: center;
    padding: 50px 0px;
    color: #eeefef;
}
.section-big-title-bar h1 {
    font-family: "游明朝体 Pr6N";
}
.section-big-title-bar h6 {
    font-family: "Source Han Sans JP M";
}
.sancare-top-img {
    margin-top: -150px;
    padding: 0px auto;
    display: flex;
    justify-content: center;
}
.sancare-top-img img {
    width: 100%;
    max-height: 630px;
    min-height: 300px;
    max-width: 1700px;
    height: 40vw;
    width: 90vw;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
}
.sancare-section-wrapper {
    padding: 80px 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1020px;
}
.carousel-mode {
    max-width: 1240px;
    padding-top: 60px;
    padding-bottom: 30px;
}
.metaslider.ms-theme-clarity .flexslider {
    margin-bottom: 0px !important;
}
.flexslider .slides li {
    background: transparent !important;
}
.carousel-mode .metaslider.ms-theme-clarity .flexslider .caption-wrap {
    background: transparent !important;
    border: none !important;
}
.carousel-mode .metaslider.ms-theme-clarity .flexslider .caption-wrap .caption {
    background: transparent !important;
    padding: 10px 0px !important;
    color: #4c4d4f !important;
    font-family: "游明朝体 Pr6N" !important;
}
.carousel-mode .metaslider.ms-theme-clarity .flexslider .flex-direction-nav li a {
    width: 40px !important;
    height: 40px !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: 0px 0px 0px 0px !important;
    user-select: none;
}
.metaslider.ms-theme-clarity .flexslider .flex-direction-nav li a.flex-next {
    right: -45px !important;
    background-image: url('../img/flex-next.svg') !important;
}
.metaslider.ms-theme-clarity .flexslider .flex-direction-nav li a.flex-prev {
    left: -45px !important;
    background-image: url('../img/flex-prev.svg') !important;
}
.metaslider.ms-theme-clarity .flexslider .slides li {
    margin-top: 0px;
    margin-bottom: 0px;
}
.grid-two-column {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, calc((100% - 70px) / 2));
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    row-gap: 40px;
}
.grid-two-column img {
    width: 100%;
}
.bottom-grid {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 30px;
}
.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}
.container-fluid-8 {
    padding-left: 8%;
    padding-right: 8%;
}
.container-fluid .sancare-section-wrapper {
    padding-left: unset !important;
    padding-right: unset !important;
}
.bottom-grid img {
    width: 100%;
    max-width: 440px;
}
.service-btns-wrapper {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 20px) / 3));
    gap: 10px;
}
.service-btn {
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    line-height: 40px;
    text-align: center;
}
.toggle-btn {
    width: 280px;
    height: 50px;
    background-color: #4c4d4f;
    border-radius: 60px;
    padding: 0px 50px;
    color: white;
    box-shadow: none;
    border: none;
    white-space: nowrap;
    position: relative;
    line-height: 48px;
    text-align: center;
}
.arrow-up-right-icon {
    position: absolute;
    right: 15px;
    top: 20px;
    width: 24px !important;
    height: 10px;
}
.google-map {
    height: 70vw;
    max-height: 650px;
}
.grid-two-column-2 {
    display: grid;
    grid-template-columns: 35% calc(65% - 70px);
    justify-content: center;
    column-gap: 70px;
    row-gap: 35px;
}

/* grouphome */
.bg-image-center {
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 200px;
}

/* dayservice */
.grid-two-column-5 {
    display: grid;
    grid-template-columns: 62% calc(38% - 50px);
    align-items: center;
    gap: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.grid-two-column-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.grid-two-column-3 img {
    min-height: 215px;
    max-width: 400px;
    width: 100%;
    object-fit: cover;
}
.dayservice-section-title {
    border-left: 3px solid #ec6d56;
    padding-left: 16px;
}
.dayservice-section-title h4 {
    line-height: 1 !important;
    padding-bottom: 15px;
    letter-spacing: 2px;
}
.dayservice-section-title h5 {
    line-height: 1 !important;
    letter-spacing: 2px;
}
.dayservice-section-title {
    font-family: "游明朝体 Pr6N";
}
.dayservice-section-description {
    font-family: "游明朝体 Pr6N";
}
.grid-column-4 {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 60px) / 3));
    justify-content: center;
    gap: 30px;
}
.grid-column-4 img {
    width: 100%;
    min-height: 245px;
    object-fit: cover;
}
.circle-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(50vw + 60px);
    max-height: 700px;
}
.circle-image {
    width: 25vw;
    height: 25vw;
    max-width: 320px;
    max-height: 320px;
    border-radius: 50%;
    object-fit: cover;
}
/* expenses */
.expenses-box {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
}
.expenses-box .top-section-title {
    border-color: #8a392a;
}
.top-section-title h4 {
    line-height: 1 !important;
    padding-bottom: 15px;
    letter-spacing: 2px;
}
.top-section-title h5 {
    line-height: 1 !important;
    letter-spacing: 2px;
}
.plan-title {
    color: white;
    background-color: #8a392a;
    padding: 8px 38px;
    margin-right: 10px;
    font-size: 18px;
    max-width: 142px;
}
.plan-price {
    display: flex;
    align-items: baseline;
}
.plan-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.expenses-title {
    font-size: clamp(18px, 3.6vw, 22px);
    padding-bottom: 8px;
    border-bottom: 1px solid lightgray;
    letter-spacing: -1px;
}
.expenses-table-title {
    padding: 5px 15px;
    font-size: 16px;
    background-color: #8a392a;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    width: fit-content;
}
.expenses-title-underline {
    border-bottom: 2px solid;
}
.expenses-table-title-2 {
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 16px;
}
.expenses-title-angle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 15px solid #8a392a;
}
.expenses-table {
    width: 1020px;
}
.expenses-table-wrapper {
    overflow-y: auto;
}
.expenses-table td, th {
    border: 1px solid rgb(182, 182, 182);
    padding: 12px 0px;
    white-space: pre-wrap;
    text-align: center;
    font-weight: 300;
    white-space: pre-wrap;
    vertical-align: top;
}
.td-6 td {
    width: 16.66%;
}
.td-5 td {
    width: 20%;
}
.td-4 td {
    width: 25%;
}
.td-2 td {
    width: 50%;
}
.color-label {
    background-color: #EFE5DE;
}
.color-line {
    border-top: 2px solid #8a392a;
}
.t-wide-label {
    background-color: #E6E7E8;
}
.main-costs {
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}
/* recruit */
.section-title-bar {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "游明朝体 Pr6N";
    color: #eeefef;
}
.recruit-description {
    max-width: 820px;
    padding: 80px 20px;
    text-align: center;
}
.recruit-description h2 {
    font-family: "游明朝体 Pr6N";
}
.work-environment-btn {
    height: 50px;
    width: 100%;
    max-width: 350px;
    white-space: nowrap;
    color: #ffffff;
}
.recruit-viewer {
    width: 100%;
    padding: 0px 20px;
    max-width: 820px;
}
.recruit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    padding: 28px 40px;
    cursor: pointer;
    user-select: none;
}
.recruit-item:hover {
    background-color: #F9F8F4;
}
.recruit-item-menu {
    padding: 30px;
    border: 1px solid lightgray;    
}
.recruit-table {
    width: 100%;
}
.recruit-table td {
    border: 1px solid lightgray;
    padding: 12px 24px;
    white-space: pre-wrap;
    vertical-align: top;
}
.rt-label {
    border-left: 2px solid lightgray !important;
    border-right: 2px solid lightgray !important;
    padding: 10px !important;
    width: 100px;
    background-color: #E6E7E8;
}
table {
    margin-bottom: 30px;
}
.entry-btn {
   height: 76px;
   max-width: 350px;
   width: 100%;
   border-radius: 38px; 
   color: #ffffff;
}
/* footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;    
}
.footer .menu-text-item:nth-child(1) {
    border-left: none;
}
.footer-menu-items {
    display: flex;
    justify-content: center;
}
.footer-menu-items .menu-text-item-wrapper {
    border-left: 1px solid;
}
.footer-menu-items .menu-text-item-wrapper:nth-child(1) {
    border-left: none;
}
.footer-menu-items .menu-text-item-menu {
    position: absolute;
    bottom: 0 !important;
    top: unset;
    left: 0;
    background-color: white;
    padding-bottom: 30px;
    padding-top: unset;
}
.footer-fixed-buttons {
    z-index: 9200;
    position: fixed;
    bottom: 40px;
    right: 0;
}
.footer-fixed-button {
    height: 55px;
    width: 287px;
    border: none;
}
.footer-fixed-button img {
    height: 24px;
}
.footer-scroll-top-btn {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #9fa0a0;
    color: white;
    border: none;
}
.footer-scroll-top-btn:hover {
    opacity: 60%;
}
.footer-scroll-top-btn-wrapper {
    margin-bottom: 16px;
    margin-right: 16px;
    text-align: end;
}
@media screen and (max-width: 1920px) {
    .top-description {
        left: 15vw;
    }
}  
@media screen and (max-width: 1700px) {
    .menu-text-item-menu {
        padding-top: 30px;
    }
}
@media screen and (max-width: 1400px) {
    .sancare-section-wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
    .facility-info-description {
        display: block !important
    }
    .grid-two-column-3 {
        justify-content: center;
    }
}
@media screen and (max-width: 1270px) {
    .header {
        display: none !important;
    }
    .header-sp {
        display: flex !important;
    }
    .header-sp-phone {
        display: block;
    }
    .top-description {
        left: 10vw;
        top: 140px;
        font-size: 24px;
    }
    .top-section-wrapper {
        max-width: 90vw;
    }
    .top-section-img {
        width: calc(45vw - 10px);
    }
    .special img {
        max-width: unset;
    }
    .top-section-viewer {
        grid-template-columns: repeat(2, calc((100% - 20px) / 2));
        gap: 20px;
    }
    .grid-column-4 {
        grid-template-columns: auto auto 
    }
    .footer {
        margin-bottom: 150px;
    }
    .footer-menu-items {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: auto;
        margin-right: auto;
    }
    .menu-text-item,
    .footer-menu-items .menu-text-item-wrapper {
        border-left: none
    }
    .expenses-box {
        padding: 0px 3%;
    }
}
@media screen and (max-width: 1000px) {
    .bottom-grid {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .header,
    .header-sp-phone {
        display: none !important;
    }
    .header-sp {
        display: flex !important;
    }
    .log-img {
        width: 240px;
    }
    .top-description {
        left: 0;
        top: 165px;
        padding:0 5%;
        font-size: clamp(17px, 4.5vw, 22px);
    }
    .top-section-wrapper {
        max-width: 90vw;
    }
    .top-section-viewer {
        grid-template-columns: auto;
        gap: 20px;
    }
    .footer {
        margin-bottom: 80px;
    }
    .footer-menu-items {
        display: grid;
        grid-template-columns: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .company-table tr {
        display: flex;
        flex-direction: column;
    }
    .company-table .t-label {
        width: 100%;
    }
    .service-btns-wrapper {
        grid-template-columns: auto auto;
    }

    .grid-two-column,
    .grid-two-column-2,
    .grid-two-column-3,
    .grid-two-column-5,
    .grid-column-4 {
        display: flex;
        flex-direction: column;
    }

    .grid-two-column {
        margin-top: 50px;
    }

    .column-reverse {
        flex-direction: column-reverse;
    }

    .sancare-section-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .circle-image-wrapper {
        height: unset;
        max-height: unset;
        gap: 50px;
    }
    .circle-image {
        max-width: 400px;
        max-height: 400px;
        width: 90vw;
        height: 90vw;
    }
    .special img {
        max-width: none;
    }
    .carousel-mode {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .carousel-mode .metaslider.ms-theme-clarity .flexslider .flex-direction-nav li a {
        width: 20px !important;
        height: 40px !important;
    }
    .metaslider.ms-theme-clarity .flexslider .flex-direction-nav li a.flex-next {
        right: -22px !important;
    }
    .metaslider.ms-theme-clarity .flexslider .flex-direction-nav li a.flex-prev {
        left: -22px !important;
    }
    .section-big-title-bar h1 {
        font-size: 20px !important;
    }
    .section-big-title-bar h6 {
        font-size: 15px !important;
    }
    .sancare-top-img {
        margin-top: -180px;
    }
    .recruit-viewer {
        padding-left: 0px;
        padding-right: 0px;
    }
    .recruit-item,
    .recruit-item-menu {
        padding: 15px;
    }
    .recruit-table td {
        padding: 10px;
    }
    .expenses-table-title,
    .expenses-table-title-2 {
        font-size: 14px;
    }
    .top-section-img {
        width: 90vw;
    }
    .footer-fixed-button {
        height: 40px;
        width: 140px;
    }
    .footer-fixed-button span {
        font-size: 14px !important;
    }
    .footer-fixed-button img {
        height: 16px;
    }
    .footer-scroll-top-btn {
        height: 40px;
        width: 40px;
        border-radius: 20px;
    }
    .footer-fixed-buttons {
        bottom: 20px;
    }
    .plan-row {
        align-items: start;
        flex-direction: column;
    }
}

@media screen and (max-width: 520px) {
    .plan-price {
        flex-direction: column;
    }
}

/* Form */
.form-desc {
    padding: 10px;
    font-size: 16px;
    font-family: "Source Han Sans JP";
    margin-bottom: 50px;
}
.form-row {
    display: grid;
    grid-template-columns: 30% 70%;
}
.form-sm-row {
    display: grid;
    grid-template-columns: calc(55% - 20px) 45%;
    column-gap: 20px;
}
.form-address-row {
    display: grid;
    grid-template-columns: 50% calc(50% - 20px);
    align-items: top;
    gap: 20px;
}

.form-address {
    border: 1px solid gray;
    padding: 15px;
    margin-bottom: 20px;
}
.form-address .mwform-radio-field input {
    width: fit-content;
}
.need-mark {
    color: white;
    background-color: red;
    padding: 2px 10px;
    font-size: 12px;
    font-family: "Source Han Sans JP";
    margin-left: 15px;
}

.form-label {
    width: 100%;
    font-size: 13px;
    font-family: "Source Han Sans JP";
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-address-label {
    width: 100%;
    font-size: 13px;
    font-family: "Source Han Sans JP";
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-postal {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    white-space: nowrap;
}
.form-input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    padding: 10px;
    font-family: "Source Han Sans JP";
}
.form-input-wrapper {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-bottom: 20px;
}
.form-postal .form-sm-input {
    margin-bottom: 0px;
}

.form-sm-input {
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    padding: 5px 10px;
    font-family: "Source Han Sans JP";    
}
.form-input-sm-wrapper {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-bottom: 20px;
}
.form-policy {
    padding-top: 80px;
    font-size: 14px;
    text-align: center;
}
.form-policy a {
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}
.form-policy-sub {
    font-size: 12px;
    text-align: center;
}
.form-confirm-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}
.form-submit-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-submit-btn {
    text-align: center;
    width: 90%;
    max-width: 350px;
    height: 50px;
    line-height: 50px;
    border: none !important;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.form-submit-btn:hover {
    opacity: 0.7;
}
.form-textarea {
    width: 100%;
    padding: 15px;
    font-size: 13px;
    font-family: "Source Han Sans JP";
}
.form-radio-wrapper {
    padding: 15px;
    border: 1px solid gray;
    margin-bottom: 20px;
}
.form-radio-wrapper .mwform-radio-field input {
    width: fit-content;
}
.form-radio {
    width: 100%;
}
.horizontal-item {
    margin-left: 0px !important;
    margin-right: 10px !important;
}
.form-radio-wrapper .horizontal-item label {
    min-width: 130px;
}
.form-sub-row {
    display: grid;
    grid-template-columns: 25% 75%;
}
.form-sub-row .form-input-sm-wrapper,
.form-sub-row .form-address-label {
    margin-bottom: 0px;
    margin-top: 15px;
}
.form-bar {
    color: white;
    font-size: 18px;
    padding: 15px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.width-fit input {
    max-width: 100px;
}
.date-icon {
    position: absolute;
    right: 40px;
    top: 8px;   
    font-size: 18px;
    z-index: 1;
}
.confirm .need-mark {
   display: none;
}
.confirm .form-radio-wrapper {
    border: unset;
    padding-left: unset;
}
@media screen and (max-width: 768px) {
    .form-row {
        grid-template-columns: auto;
    }
    .form-sm-row {
        grid-template-columns: auto;
    }
    .form-label {
        margin-bottom: 0px;
        justify-content: flex-start;
    }
    .form-sub-row {
        grid-template-columns: auto
    }
    .form-sub-row .form-input-sm-wrapper {
        margin-top: -2px;
    }
    .form-address-label {
        margin-bottom: 0px;
        justify-content: flex-start;
    }
    .form-postal {
        margin-bottom: 20px !important;
    }
    .mw_wp_form {
        min-width: unset;
    }
    #floor {
        width: 80%;
    }
}
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 9300; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.85); /* Black backdrop with opacity */
}
.modal-content {
    position: relative;
}
#floor {
    width: 45%;
}
.modal-dialog-centered {
    justify-content: center;
    margin-top: 30px;
}
.flex-control-paging {
    display: none !important;
}
/* The Close Button */
.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus,
.search-btn:hover,
.search-btn:focus {
    color: gray;
}
.search-btn {
    position: absolute;
    top: 5px;
    right: 35px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
/* Button to open the modal */
.open-modal-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.open-modal-button:hover {
    background-color: #0056b3;
}

select,
option {
    color: #4c4d4f !important;
}

